/*-- main menu --*/
#topNav{
    background-color: white;
    height: 50px;
    padding: 12px;
}
#mainContainer {
   background-image: url("../images/home_background.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
#mainContent{
     margin-top: 80px;
}
#mainMenu{
    font-family:sans-serif;
    font-size: 14px;
    font-weight: bold;
    
    padding: 8px;    
    border-style: ;
    background-color: #005CA5;
    box-shadow:20px 0px 40px 0px grey;
    
}
#mainMenu a{
    color: whitesmoke;
    text-shadow:;
}
#button{
    background-color: #D28C12;
    color:#FFFFFF;
    box-shadow:0px 0px 40px 0px #AFB4B8;
}
#buttoncancel{
    background-color: #949494;
    color:#FFFFFF;
    box-shadow:0px 0px 40px 0px #AFB4B8;
}
/*#header {
    position: relative;
    height: 80px;
}    
#topNav{
    position: absolute;
    font-size: 14px;
    float:right;
    left:650px;
    margin: ex 0;
    padding: 0;
}
#topNav a{
    margin: 0 1ex 0 1ex;
    padding: 0;
}
#topnav .search-container {
  float: right;
  border: 1px solid blue;
  border-radius: 5px;
  font-size: 14px;
}
#topNav input[type=text] {
  border: 1px solid blue;
  border-radius: 5px;
  float: right;
  padding:7px ;
  margin-top:;
  margin-right:;
  border:; 
  font-size: 12px;
}
#topNav .search-container button {
  float: right;
  padding: 3px;
  margin-top: ;
  margin-right: ;
  background: ;
  text-decoration-color: floralwhite;    
  font-size: 12px;
  
}

/*#searchStyle{
    float: right;
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}*/
/*#buttonStyle{
    clear: right
}

#mainContent h1, #mainContent h2, #mainContent h3, #mainContent h4{
    font-family: "Trebuchet MS", sans-serif;
}

#mainContent h1{
    font-size: 1.6em;
    font-weight: bold;
    color: #1b9d95;
    margin: .0ex 0;
}

#mainContent h2{
    font-size: 1.2em;
    color: #3c3809;
    margin: .4ex 0;
}

#mainContent h4{
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
    margin: 1ex 0 -.2ex 0;
}

#mainContent ul{
    font-family: Georgia, sans-serif;
    font-size: .9em;
    margin: 0 0 1.4ex 1em;
}
*/
